//colors
$background :#ffd70017;
$salmon :#ea8074;

body{ 
    background-color: $background;
    font-family : "Lucida Console";
    margin-bottom: 110px;
    clear: both;
  }
  * {
    margin: 0;
    padding: 0;
    }

  header{ 
    height: 100px;
    background-color: white;
    border-bottom: 5px solid gold;
    padding:10px;
    #logo {
        float: left;
        width: 100px;
        height: 100px;
      }
      h1 {
        position: relative;
        line-height: 3;
        text-transform: uppercase;
      }
  }
  #section {
      border-radius: 5px;
      padding: 20px;
  }

  input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid $salmon;
    border-radius: 4px;
    box-sizing: border-box;
  }
    
  button {
    width: 100%;
    background-color: $salmon;
    border: 1px solid $salmon;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border-radius: 4px;
    cursor: pointer;
    &:hover { 
        background-color: gold;
        border: 1px solid gold;
        color: black;
      }
  } 
    
  footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: white;
    border-top: 5px solid gold;
    text-align: center;
    padding:15px;
  }
  
  @media only screen and (max-width: 600px) {
    header h1 {
      position: relative;
      line-height: inherit;
      text-transform: uppercase;
    }
  }