body{ 
  background-color: #eae7dc;
}
* {
  margin: 0;
  padding: 0;
  }

header #logo {
  float: left;
  width: 100px;
  height: 100px;
  background: #ccc;
  background-image:url('')
}
header{ 
  height: 110px;
  background-color: white;
}

header h1 {
  position: relative;
  top: 18px;
  left: 10px;
}
 
#section {
    border-radius: 5px;
    padding: 20px;
    background-image:url('');
}

input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ea8074;
  border-radius: 4px;
  box-sizing: border-box;
}
  
button {
  width: 100%;
  background-color: #ea8074;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border-radius: 4px;
  cursor: pointer;
} 
button:hover { background-color: #ea8074;}
  
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #ea8074;
  color: white;
  text-align: center;
}