
@media screen and (max-width: 1024px){
    img.bg {
    left: 50%;
    margin-left: -512px; }
}

#selection{
  background:no-repeat fixed center ;
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
}

#selected_image{
  border-style: solid;
  border-width: 5px;
  border-color: red;
  height:200;
  width :200;
}
